<footer class="bd-footer">
    <div class="flex">
        <div class="contact-div">
            <h4>Contact with us</h4>
            <p>Reach us at <a href="mailto:examplemail@gmail.com">examplemail@gmail.com</a> or through the following social media</p>
            <ul>
                <li><a href=""><i class="fa-solid fa-brands fa-facebook fa-fw fa-2xl"></i></a></li>
                <li><a href=""><i class="fa-solid fa-brands fa-twitter fa-fw fa-2xl"></i></a></li>
                <li><a href=""><i class="fa-solid fa-brands fa-pinterest fa-fw fa-2xl"></i></a></li>
                <li><a href=""><i class="fa-solid fa-brands fa-linkedin-in fa-fw fa-2xl"></i></a></li>
                <li><a href=""><i class="fa-solid fa-brands fa-instagram fa-fw fa-2xl"></i></a></li>
            </ul>
        </div>
        <div class="form-div">
            <h4>Get our news first</h4>
            <p>Join 143.578 members and get the newest music and sessions before the official release</p>
            <div class="form">
                <input type="text" class="form-control" placeholder="Your email...">
                <a href="form.html"><button class="btn btn-primary ml-2" type="button">Submit</button></a>
            </div>
        </div>
    </div>
    <div class="bd-foothead">
        <div>
            <picture class="bd-logo"><a href="index.html">
            <source srcset="./assets/images/twokings-w.png?as=webp&width=200" type="image/webp" />
            <img src="./assets/images/twokings-w.png?width=200" alt="Two Kings" class="profile-picture" />
            </a></picture>
        </div>    
        <nav class="bd-nav">
            <ul>
                <li><a href="members.html">Members</a></li>
                <li><a href="bio.html">Information</a></li>
                <li><a href="form.html">Subscribe to us</a></li>
            </ul>
        </nav>
    </div>
    
</footer>