<header class="bd-header">
  <div>
    <picture class="bd-logo"><a href="index.html">
      <source srcset="./assets/images/twokings.png?as=webp&width=200" type="image/webp" />
      <img src="./assets/images/twokings.png?width=200" alt="Two Kings" class="profile-picture" />
    </a></picture>
  </div>    
  <nav class="bd-nav">
    <ul>
        <li><a href="members.html">Members</a></li>
        <li><a href="bio.html">Information</a></li>
        <li><a href="form.html">Subscribe to us</a></li>
    </ul>
  </nav>
</header>